$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


$background-color: #4e4e4e;
$font-color: #dfdfdf;
$white: #fff;

.container-fluid {
  text-align: center;
}

body {
  background-color: $background-color;
  color: $font-color;
}

input {
  color: $background-color;
}

button {
  color: $background-color;
  width: 100px;
  height: 50px;
  border-radius: 5px;
}

.game-board {
  width: 100%;
  margin: 10px auto;
}
.box {
  width: 300px;
  height: 100px;
  border: 2px solid $font-color;
  border-radius: 5px;
  font-size: 70px;
  font-style: normal;
  margin:  2px 2px 2px 2px;
  text-align: center;
  cursor: pointer;
}

.scoreboard_wrapper {
  display: inline-block;
}
.score {
  color: $font-color;
}

.score_box {
  width: 50px;
  height: 50px;
  border: 2px solid $font-color;
  border-radius: 5px;
  margin: 2px auto;
  font-size: 22px;
}

.div-1 {
  float: left;
  margin-left: 10px;
}

.div-2 {
  display: inline-block;
}

.div-3 {
  float: right;
  margin-right: 10px;
}

footer a:link {
  color: $font-color;
}
